@import "tailwindcss";

/* Hide receipt by default, show only on print */
.print-receipt-only { display: none !important; }

@media print {
    body * {
      visibility: hidden;
    }
    #receipt-section, #receipt-section * {
      visibility: visible;
    }
    #receipt-section {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  